<mat-table #table [dataSource]="printingJobs">

  <!-- Index column -->
  <ng-container matColumnDef="identifier">
    <mat-header-cell *matHeaderCellDef> Identifier </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
  </ng-container>

  <!-- Name column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <!-- Created column -->
  <ng-container matColumnDef="created">
    <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.created }} </mat-cell>
  </ng-container>

  <!-- Started column -->
  <ng-container matColumnDef="started">
    <mat-header-cell *matHeaderCellDef> Started </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.started }} </mat-cell>
  </ng-container>

  <!-- Completed column -->
  <ng-container matColumnDef="completed">
    <mat-header-cell *matHeaderCellDef> Completed </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.completed }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>

</mat-table>
