<div *ngIf="activeJob !== null; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <table datatable class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Document</th>
        <th scope="col">Issued (yyyy-MM-dd)</th>
        <th scope="col">Started (yyyy-MM-dd)</th>
        <th scope="col">Completed (yyyy-MM-dd)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ activeJob.name }}</td>
        <td>{{ activeJob.created | date:'yyyy-MM-dd'}}</td>
        <td>{{ activeJob.started | date:'yyyy-MM-dd'}}</td>
        <td>{{ activeJob.completed | date:'yyyy-MM-dd' }}</td>
      </tr>
    </tbody>
  </table>
</ng-template>
<ng-template #elseBlock>No active job at the moment</ng-template>
