<div *ngIf="activeJob; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Active printing job</mat-card-title>
      <mat-card-subtitle>{{ activeJob.name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Created: {{ activeJob.created | dateToAgo }} ago
        <br>
        Running since: {{ activeJob.started | dateToAgo }} ago
      </p>
    </mat-card-content>
    <mat-spinner [diameter]="20.0"></mat-spinner>
  </mat-card>
</ng-template>
<ng-template #elseBlock>
  <mat-card>No printing job active at the moment</mat-card>
</ng-template>
