<div *ngIf="activeJob; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <table datatable class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Document</th>
        <th scope="col">Issued</th>
        <th scope="col">Started</th>
        <th scope="col">Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ activeJob.name }}</td>
        <td>{{ activeJob.created | date:'yyyy-MM-ddThh:mm:ss'}}</td>
        <td>{{ activeJob.started | date:'yyyy-MM-ddThh:mm:ss'}}</td>
        <td>{{ activeJob.completed | date:'yyyy-MM-ddThh:mm:ss' }}</td>
      </tr>
    </tbody>
  </table>
</ng-template>
<ng-template #elseBlock>No active job at the moment</ng-template>
