<div class="container">
  <div class="center">
    <!-- Classical way to do it
    <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
    <form action="http://localhost:8181/api/job" ENCTYPE="multipart/form-data" method="POST" name="classic" target="hiddenFrame">
        Upload a file:<input type="file" name="myfile"/><br>
        <button class="btn btn-primary" type="submit">Upload files</button>
    </form>
  </div>-->

  <button mat-fab (click)="addPrintingJob()">
    <mat-icon svgIcon="add"></mat-icon>
  </button>
</div>
